<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/layout.css">
</head>
<body>
    <div id="header">
        <section class="top-nav">
            <div class="container">
                <div class="top-nav_menu">
                    <a class="top-nav_menu-home" href="#">Home</a>
                    <a class="top-nav_menu-link" href="#">Link</a>
                    <a class="top-nav_menu-dropdown" href="#">Dropdown</a>
                </div>
            </div>
        </section>
    </div>
    

    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <section class="left-main">
                        <div class="left-main_login">
                            <h3>Login</h3>
                            <a href="#">login</a>
                        </div>
                        <div class="left-main_list">
                            <h3>CHUYÊN ĐỀ</h3>
                            <ul>
                                <li><a class="left-main_list-android" href="#">Android</a></li>
                                <li><a class="left-main_list-ios" href="#">iOS</a></li>
                                <li><a class="left-main_list-php" href="#">PHP</a></li>
                                <li><a class="left-main_list-nodejs" href="#">NODEJS</a></li>
                            </ul>
                        </div>
                        <div class="left-main_advert">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
